.footerBottom{
    background: #91af77;
    position: relative;

}
.footerBottom_imgRight{
    background-image: url('../Image/img/tree_1.png');
    width: 100%;
    height: 100%;
    left: 0;
    background-position: right;
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
}
.footerBottom_imgLeft{
    background-image: url('../Image/img/tree_2.png');
    width: 100%;
    height: 100%;
    left: 0;
    background-position: left;
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
}
.footerContent {
    text-align: center;
    padding: 2% 0 2% 0;
}
.footerMenu_{
    background: #00000030;
}
.footerContent h4{
    text-transform: uppercase;
    color: #fff;
}
.footerContent span{
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
}
.footerDres{
    border-style: dotted;
    border-radius: 10px;
    padding: 10px;
}
.footerDres span{
    font-size: 0.9em;
    color: #242424;
}
.footerItem {
    padding: 0% 0 2% 0;
}
ul#footer-menu-primary-menu {
    margin: 0;
    display: flex;
}
li.footer-menu-item.footer-Item {
    padding: 0 16px 0 0;
}
ul#footer-menu-primary-menu {
    padding: 2% 0 2% 0;
}
li.footer-menu-item {
    padding: 0 16px 0 16px;
    display: flex;
    border-right: 1px solid #657a54;
    cursor: pointer;
    font-size: 1em;
    color: #242424;
}
.footerMess{
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}